table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #2F4F4F;
  text-align: left;
  padding: 8px;
}
th.pos{
    text-align: center;
}
h1{
    font-family: arial, sans-serif;
    text-align: center
}