<!DOCTYPE html>
<html>
<head>
        <title>List</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='list.css') }}">
</head>
<body>
<div class="container">
    <table>

        <tr>
          <th><strong>Cours:</strong>{{ course.title }} </th>
          <th><strong>Date:</strong>{{ course.start_time }} </th>
        </tr>
        <tr>
            <th><strong>Professeur:</strong>{{ user.first_name + " " + user.last_name  }}  </th>
            <th><strong></strong>{{ course.end_time }} </th>
          </tr>

       </table>
</div>
<br>
<div class="container">
    <table>
  <tr>
    <th>Prénom et Nom</th>
    <th>Signature</th>
  </tr>

  <tr>
      {% for info in informations %}
    <td>{{ info.first_name  + " " + info.last_name  }}</td>
    <td><img src="data:Image/png;base64,{{ info.signature }}"/></td>
       {% endfor %}
  </tr>
  </table>
</div>
</body>
</html>